{{- if .Values.migrations.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "go-server.fullname" . }}-migrations
  labels:
    {{- include "go-server.labels" . | nindent 4 }}
    app.kubernetes.io/component: migration
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
data:
  {{- /* Priority: existingConfigMap > files in values > files from migrations/ directory */}}
  {{- if not .Values.migrations.existingConfigMap }}
    {{- if .Values.migrations.files }}
      {{- /* Use files defined in values.yaml */}}
      {{- range $filename, $content := .Values.migrations.files }}
  {{ $filename }}: |
{{ $content | indent 4 }}
      {{- end }}
    {{- else }}
      {{- /* Auto-read from migrations/ directory in chart */}}
      {{- $files := .Files.Glob "migrations/*.sql" }}
      {{- if $files }}
        {{- range $path, $content := $files }}
  {{ base $path }}: |
{{ $content | toString | indent 4 }}
        {{- end }}
      {{- else }}
        {{- fail "No migration files found. Add SQL files to charts/go-server/migrations/ or define migrations.files in values.yaml" }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
